.UserStatus_container {
    display: flex;
    justify-content: start ;
    width: 100%;
}

.icon_sizes {
    width: 60%;
    height: 60%;
}

.title_txt {
    font-size: 14px;
    margin-left: 10px;
}

.desc_txt {
    font-size: 12px;
    margin-left: 10px;
}

